
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    font-family: 'Varela Round', sans-serif;
}

.navbar{
    background: #032541;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
}

.navbar-brand{
    color:#27b189;
}    

.nav-item{
    margin-right: 20px;
    color: white;
}

.nav-item:hover{
    color:#27b189;
}

.navbar-toggler{
    color: black;
    background: rgba(39,177,137,0.7);


}

.searchContainer{
    height: 400px;
    background-image: url("https://image.tmdb.org/t/p/w1920_and_h600_multi_faces/uozb2VeD87YmhoUP1RrGWfzuCrr.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    box-shadow: 5px 0px 15px 0px rgba(0,0,0,0.5);
    margin-top: 56px;
}

.welcome{
    color: white;
    position: relative;
    top: 15px;
    left: 11vw;
}

.welcome h4{
    position: relative;
    top: 220px;
}

.inputContainer{
    position: relative;
    top: 240px;
    margin: 0 auto;
    width: 80vw;
    padding: 5px;
}

.searchInput{
    position: relative;
    top: 60%;
    height: 40px;
    border: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.searchBtn{
    position: absolute;
    bottom: 5px;
    right: 0;
    font-size: 12px;
    width: 80px;
    height: 40px;
    border: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: linear-gradient(90deg, rgba(0,36,17) 10%, rgba(51,157,126) 70%, rgba(58,41,98,1) 100%);

}

@media (max-width: 600px){
    .searchContainer{
        height: 450px;
        background-position-x: -580px;
    }

    .welcome h4{
        width: 260px;
    }

}



.card{
    width: 200px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
   
}

.card img{
    width: 200px;
    height: 300px;
}

.movieTitle{
    text-align: center;
    background-color: lightgrey;
    height: 60px;
    max-height: 100px;
    font-weight: bold;
    position: relative;
    top: -33px;
    z-index: 0;
    overflow: auto;
    border-bottom: 2px groove;
    border-top: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movieTitle p{
    padding-top: 10px;
}


small{
    font-style: italic;
}

.release{
    position: relative;
    text-align: right;
    right: 5px;
    bottom: 30px;
}


.card-body{
    height: 200px;
    overflow: auto;
    margin-top: 0;
    padding-top: 0;
    color: grey;
    font-style: italic;
    position: relative;
    top: -15px;

}

.cardActions{
    display: inline-flex;
    justify-content: center;
} 


.cardActions a{
    margin: 0 5px 10px 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    color: brown;

}

.rating{
    margin: 0;
    padding: 5px;
    max-width: 35px;
    position: relative;
    left: 175px;
    bottom: 20px;
    color: white;
    border: solid 1px lightgrey;
    box-sizing: border-box;
    /* width: 35px;
    height: 35px; */
    border-radius: 50%;
    background-color: black;
    box-shadow: 1px 0px 5px 0px rgba(0,0,0,0.5);
    font-size: 14px;
    z-index: 1;
    text-align: center;

}

.btnLoad{
    background: linear-gradient(90deg, rgba(0,36,17) 10%, rgba(51,157,126) 70%, rgba(58,41,98,1) 100%);
    border: none;
}